
    
 
    <div class="card px-6 py-6">
        <div class="grid">
          <div class="md:col-12 lg:col-12">
            <p-panel header="Filter" [collapsed]="true" [toggleable]="true" class="line-height-3 m-0">
              <div class="mb-4">
                <div class="grid">
                  <div class="col-12 md:col-12">
                    <p-dropdown [options]="medicineListdata" [(ngModel)]="selectedMedicine" appendTo="body"
                      [virtualScroll]="true" [virtualScrollItemSize]="50" [filter]="true" [showClear]="true"
                      optionLabel="BillToName" optionValue = "InvoiceMasterId" [style]="{'width': '100%'}" placeholder="Search Records" 
                      (onChange)="selectMedicine($event)"></p-dropdown>
                  </div>
                  <!-- <div class="col-12 md:col-3">
                    <p-checkbox [(ngModel)]="showBatchDetail" label="Show Batch Detail" name="Medicines"
                      value="Show Batch Detail" (onChange)="checkshowBatchDetail(showBatchDetail)"></p-checkbox>
                  </div> -->

                  <div class="col-12 md:col-4" >
                    <label class="m-0"><strong style="margin-left: 13px">Enter From Date: <span
                          class="text-danger">*</span></strong></label>
                    <p-calendar [showIcon]="true" [(ngModel)]="TonearestExpiryDate" inputId="icondisplay" class="calender"
                       ></p-calendar>
                  </div>
                  <div class="col-12 md:col-4" >
                    <label class="m-0"><strong style="margin-left: 13px">Enter To Date: <span
                          class="text-danger">*</span></strong></label>
                    <p-calendar [showIcon]="true" [(ngModel)]="FromnearestExpiryDate" inputId="icondisplay" class="calender"
                       [disabled]="!TonearestExpiryDate"></p-calendar>
                  </div>
                  <div class="col-12 md:col-4">
                  </div>

                  <div class="col-12 md:col-4">
                    <p-checkbox [(ngModel)]="IsAllAmount" label="All Invoice" [binary]="IsAllAmount" 
                       name="Medicines" value="All Invoice"
                      (onChange)="onNearestExpiryChange(IsAllAmount)"></p-checkbox>
                  </div>
      
                  <div class="col-12 md:col-4">
                    <p-checkbox [(ngModel)]="IsTotalAmount" label="Only Total Amount Invoice" [binary]="IsTotalAmount" 
                      name="Medicines" value="Only Total Amount Invoice" (onChange)="onExpiryOnlyChange(IsTotalAmount)"></p-checkbox>
                  </div>
                  
                  <div class="col-12 md:col-4">
                    <p-checkbox [(ngModel)]="IsDueAmount" label="Only Due Amount Invoice"
                       name="Medicines" value="Only Due Amount Invoice" [binary]="IsDueAmount" 
                      (onChange)="onNotExpiryOnlyChange(IsDueAmount)"></p-checkbox>
                  </div>
                 
                 
      
                  <!-- <div class="col-12 md:col-4" *ngIf="showExpirycalendar">
                    <label class="m-0"><strong style="margin-left: 13px">Enter From Expiry Date: <span
                          class="text-danger">*</span></strong></label>
                    <p-calendar [showIcon]="true" [(ngModel)]="Toexpirydate" inputId="icondisplay" class="calender"
                      [maxDate]="minDate" (onSelect)="updateFromDateMinforExpire()"></p-calendar>
                  </div>
                  <div class="col-12 md:col-4" *ngIf="showExpirycalendar">
                    <label class="m-0"><strong style="margin-left: 13px">Enter To Expiry Date: <span
                          class="text-danger">*</span></strong></label>
                    <p-calendar [showIcon]="true" [(ngModel)]="Fromexpirydate" inputId="icondisplay" class="calender"
                      [maxDate]="minDate" [disabled]="!Toexpirydate"></p-calendar>
                  </div> -->
                </div>
      
                <div class="grid p-fluid">
                  <div class="col-12 md:col-4 lg:col-3">
                    <div class="flex">
                      <button pButton pRipple type="button" icon="pi pi-filter" label="Search"
                        class="p-button-primary p-button-outlined mr-2" title="Submit Filter" (click)="submitFilter()"
                        [disabled]="(showCalender && (FromnearestExpiryDate == null || TonearestExpiryDate == null)) "></button>
                      <button pButton pRipple type="button" icon="pi pi-filter-slash" label="Clear"
                        class="p-button-danger p-button-outlined" title="Clear Filter" (click)="clearFilter()"></button>
                    </div>
                  </div>
                </div>
      
              </div>
            </p-panel>
          </div>
      
      
        </div>




        <p-table [value]="medicineList" [paginator]="true" [rows]="10" responsiveLayout="scroll">
          <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="name">Sr. <p-sortIcon field="name"></p-sortIcon></th>
                  <th pSortableColumn="price">Invoice <p-sortIcon field="price"></p-sortIcon></th>
                  <th pSortableColumn="price">Bill To Name <p-sortIcon field="price"></p-sortIcon></th>
                  <th pSortableColumn="price">Date <p-sortIcon field="price"></p-sortIcon></th>
                  <th pSortableColumn="price">Total Amount <p-sortIcon field="price"></p-sortIcon></th>
                  <th pSortableColumn="price">Received Amount<p-sortIcon field="price"></p-sortIcon></th>
                  <th pSortableColumn="price">Discount<p-sortIcon field="price"></p-sortIcon></th>
                  <th pSortableColumn="price">Net Amount<p-sortIcon field="price"></p-sortIcon></th>
                  <th pSortableColumn="price">Due Amount<p-sortIcon field="price"></p-sortIcon></th>
                  <th>Actions</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-app let-rowIndex="rowIndex">
              <tr>
                <td style="width: 35%; min-width: 7rem;">{{rowIndex + 1}}</td>
                  <td style="width: 35%; min-width: 7rem;">{{app.InvoiceNumber}}</td>
                  <td style="width: 35%; min-width: 8rem;">{{app.BillToName}}</td>
                  <td style="width: 35%; min-width: 7rem;">{{app.CreatedOn | date: 'dd MMM yyyy'}}</td>
                  <td style="width: 35%; min-width: 8rem;">{{app.TotalAmount}}</td>
                  <td style="width: 35%; min-width: 7rem;">{{app.ReceivedAmount}}</td>
                  <td style="width: 35%; min-width: 7rem;">{{app.ApplyDiscount}}</td>
                  <td style="width: 35%; min-width: 7rem;">{{app.NetAmount}}</td>
                  <td style="width: 35%; min-width: 7rem;">{{app.DueAmount}}</td>

                  <td style="text-align: center;">
                    <div class="flex">
                      <button  pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-warning mr-2" (click)="viewInvoice(app)"></button>
                      <button *ngIf="app.DueAmount > 0"  pButton pRipple icon="pi pi-money-bill" class="p-button-rounded p-button-success mr-2" (click)="editInvoice(app)"></button>
                      <button  pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteInvoice(app)"></button>
                  </div>
                  </td>

                  <!-- <td *ngIf="app.StatusId == 1">
                      <p-badge value="Incomplete" severity="info" ></p-badge>
                  </td>
                  <td *ngIf="app.StatusId == 2">
                      <p-badge value="Submitted" severity="warning" ></p-badge>
                  </td>
                  
                  <td *ngIf="app.StatusId == 3">
                      <p-badge value="Approved" severity="success" ></p-badge>
                  </td>

                  <td *ngIf="app.StatusId == 4">
                      <p-badge value="Rejected" severity="danger" ></p-badge>
                  </td> -->

                  <!-- <td *ngIf="app.IsLocked" style="width: 35%; min-width: 7rem;" class="text-900 font-medium text-xl text-green-500">{{app.IsLocked ? 'Submitted' : 'Incomplete' }}</td>
                  <td *ngIf="!app.IsLocked" style="width: 35%; min-width: 7rem;" class="text-900 font-medium text-xl text-orange-500">{{app.IsLocked ? 'Submitted' : 'Incomplete' }}</td> -->
                  
                  <!-- <td style="width: 35%; min-width: 7rem;">
                      <button pButton pRipple type="button" (click)="display=true; applicationdetails(app)"  icon="pi pi-info-circle" class="p-button p-component p-button-text p-button-icon-only"></button>
                  </td>
                  
                  <td style="width: 15%;">
                      <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button p-component p-button-text p-button-icon-only"  [routerLink]="['/application']"></button>
                  </td> -->
              </tr>
          </ng-template>
      </p-table>




    


        
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center" *ngIf="false"
          style="margin: 7px ; padding-left: 3px;">
          <h5 class="m-0">Invoice List
          </h5>
          <div class="right-align-button">
            <!-- <p-button icon="pi pi-file-export" class="mr-2" title="Export to PDF"
              (click)="exportToPDF('Download', 'Stock Value List')"></p-button> -->
          </div>
          <!-- <div class="right-align-button">
            <p-button icon="pi pi-file-export" class="mr-2" title="Export to PDF"   (click)="downloadPDF()" ></p-button>
        </div> -->
      
        </div>
        <p-table #dt id="Download" class="ptable" [value]="medicineList" scrollDirection="both" [scrollable]="true"
          scrollHeight="400px" responsiveLayout="scroll" *ngIf="false">
          <ng-template pTemplate="header">
            <tr>
              <th style="text-align: center;">SR No</th>
              <th style="text-align: center;">Invoice</th>
              <th style="text-align: center;">Bill To Name</th>
              <th style="text-align: center;">Date</th>
              <th style="text-align: center;">Total Amount</th>
              <th style="text-align: center;">Received Amount</th>
              <th style="text-align: center;">Discount</th>
              <th style="text-align: center;">Net Amount</th>
              <th style="text-align: center;">Due Amount</th>
              <th style="text-align: center;">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-medicine let-rowIndex="rowIndex">
            <tr>
              <td style="text-align: center;"> <b>{{ rowIndex + 1 }}</b></td>
              <td style="text-align: center;">{{ medicine?.InvoiceNumber }}</td>
              <td style="text-align: center;">{{ medicine?.BillToName }}</td>
              <td style="text-align: center;">{{ medicine?.CreatedOn | date: 'dd MMM yyyy' }}</td>
              <td style="text-align: center;">{{ medicine?.TotalAmount }}</td>
              <td style="text-align: center;" >{{ medicine?.ReceivedAmount }}</td>
              <td style="text-align: center;" >{{ medicine?.ApplyDiscount }}</td>
              <td style="text-align: center;">{{ medicine?.NetAmount}}</td>
              <td style="text-align: center;">{{ medicine?.DueAmount }}</td>
             

              
              <td style="text-align: center;">
                <div class="flex">
                  <button  pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-warning mr-2" (click)="viewInvoice(medicine)"></button>
                  <button  pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editInvoice(medicine)"></button>
                  <button  pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteInvoice(medicine)"></button>
              </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr *ngIf="!IsShowBatchDetailchecks">
              <td colspan="8" style="text-align: right;"><strong>Total Stock Value:</strong></td>
              <td style="text-align: center;"> {{ totalStockValue | currency:'PKR ':'symbol' }}</td>
              <td *ngIf="!IsShowBatchDetailchecks" colspan="1"></td>
            </tr>
            <tr *ngIf="IsShowBatchDetailchecks">
              <td colspan="8" style="text-align: right;"><strong>Total Stock Value:</strong></td>
              <td style="text-align: center;">{{ totalStockValue | currency:'PKR ':'symbol' }}</td>
              <td *ngIf="IsShowBatchDetailchecks" colspan="2"></td>
            </tr>
          </ng-template>
        </p-table>
      
      </div>
    
    
    
    
    
    
      <p-dialog [(visible)]="deleteUserDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center mt-3">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span >Are you sure you want to delete <b>{{BillToName}}</b>?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" type="button" label="No" class="p-button-danger"  (click)="deleteUserDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" type="button"  label="Yes"  (click)="confirmDelete()"></button>

        </ng-template>
    </p-dialog>
    
    
    
    
    
    <p-dialog [(visible)]="viewInvoiceDialog" header="Invoice" [modal]="true" [style]="{width:'60%'}">
      <div class="justify-content-center mt-30" >
        <p-toast [style]="{marginTop: '70px'}"></p-toast>
        <div id="printableDiv" >
        
            <div class="" style="margin: 50px;height: 900px;">
          
              <div style="position: relative; font-family: sans-serif; color: black;">
                <!-- Watermark -->
                <div
                  style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0.1; z-index: -1;">
                  <img
                    src="../../../assets/demo/images/gama.jpeg"
                    alt="Watermark"
                    style="max-width: 800px; max-height: 800px;"
                  />
                </div>
              
                <!-- Header -->
                <div
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                    margin-bottom: 20px;
                  "
                >
                  <!-- <div class="row" style="display: flex; align-items: center;">
                    <div class="col-6" style="text-align: center;"> -->
                      <!-- <img
                        src="../../../assets/demo/images/gama.jpeg"
                        alt="Gama Typing Services Logo"
                        class="img-fluid"
                        style="max-width: 130px;"
                      /> -->
                      <!-- <img [src]="logoBase64" alt="Logo" class="brand-logo">
                    </div>
              
                    <div class="col-6" style="text-align: center;">
                      <div style="font-size: x-large; font-weight: bold;">
                        <div style="color: #ff271c; 
                        font-weight: 700; 
                        letter-spacing: 3px; 
                        text-transform: uppercase; 
                        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
                        line-height: 1.2;">GAMA</div>
                        <div style="color: #3755da;font-weight: 700; 
                        letter-spacing: 3px; 
                        text-transform: uppercase; 
                        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
                        line-height: 1.2;">TYPING</div>
                        <div style="color: #7d8580;font-weight: 700; 
                        letter-spacing: 3px; 
                        text-transform: uppercase; 
                        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
                        line-height: 1.2;">SERVICES</div>
                      </div>
                    </div>
                  </div> -->

                    <div class="brand-block">
              <!-- <img src="../../../assets/demo/images/gama.jpeg" alt="Gama Typing Services Logo" class="brand-logo"> -->
           <img [src]="logoBase64" alt="Logo" class="brand-logo" style="width: 130px;">
              <!-- <div class="brand-copy">
                <div>GAMA</div>
                <div>TYPING</div>
                <div>SERVICES</div>
              </div> -->
<div class="col-6" style="text-align: center;">
                    <div style="font-size: x-large; font-weight: bold;">
                      <div style="color: #ff271c; 
                      font-weight: 700; 
                      letter-spacing: 3px; 
                      text-transform: uppercase; 
                      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
                      line-height: 1.2;">GAMA</div>
                      <div style="color: #3755da;font-weight: 700; 
                      letter-spacing: 3px; 
                      text-transform: uppercase; 
                      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
                      line-height: 1.2;">TYPING</div>
                      <div style="color: #7d8580;font-weight: 700; 
                      letter-spacing: 3px; 
                      text-transform: uppercase; 
                      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
                      line-height: 1.2;">SERVICES</div>
                    </div>
                  </div>

            </div>
              
                  <div style="text-align: center; margin-top: 20px;">
                    <h1 style="font-size: 2em; margin: 0;">INVOICE</h1>
                    <p style="margin: 5px 0;"># {{ViewInvoiceObj.InvoiceNumber}}</p>
                    <p style="margin: 5px 0;">Date: {{ ViewInvoiceObj.CreatedOn | date: 'MMM d, y' }}</p>
                    <div style="background-color: rgb(213, 211, 211); padding: 10px; margin-top: 10px;">
                      <p style="color: black; margin: 0; font-weight: bold;">
                        Balance Due: AED {{ViewInvoiceObj.DueAmount}}.00
                      </p>
                    </div>
                  </div>
                </div>
              
                <!-- Details -->
                <div style="margin-top: 20px;">
                  <p style="font-weight: bold;">GAMA TYPING SERVICES LLC</p>
                  <p>ABU DHABI MOHAMED BIN ZAYED ME-11<br />AL KHAWATIM STREET</p>
                  <p style="font-weight: bold;">Print By: {{ViewInvoiceObj.PrintBy}}</p>
                  <p style="font-weight: bold;">Bill To: {{ViewInvoiceObj.BillToName}}</p>
                </div>
              
                <!-- Table -->
                <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                  <thead>
                    <tr style="background-color: #000; color: white; text-align: left;">
                      <th style="padding: 8px; border: 1px solid #ddd;">Sr.</th>
                      <th style="padding: 8px; border: 1px solid #ddd;">Item</th>
                      <th style="padding: 8px; border: 1px solid #ddd;">Quantity</th>
                      <th style="padding: 8px; border: 1px solid #ddd;">Rate</th>
                      <th style="padding: 8px; border: 1px solid #ddd;">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of ViewInvoiceObj.InvoiceItemLists; let i = index">
                      <td style="padding: 8px; border: 1px solid #ddd;">{{i + 1}}</td>
                      <td style="padding: 8px; border: 1px solid #ddd;">
                        <b>{{item.ItemName}}</b>
                      </td>
                      <td style="padding: 8px; border: 1px solid #ddd;">{{item.Quantity}}</td>
                      <td style="padding: 8px; border: 1px solid #ddd;">AED {{item.Rate}}</td>
                      <td style="padding: 8px; border: 1px solid #ddd;">AED {{item.ItemTotalAmount}}.00</td>
                    </tr>
                  </tbody>
                </table>
              
                <!-- Totals -->
                <div
                  style="
                    text-align: right;
                    margin-top: 10px;
                    font-size: 14px;
                    font-weight: bold;
                  "
                >
                  Total: AED {{ViewInvoiceObj.TotalAmount}}.00
                </div>
              
                <div
                  *ngIf="ViewInvoiceObj.ApplyDiscount"
                  style="
                    text-align: right;
                    margin-top: 10px;
                    font-size: 14px;
                    font-weight: bold;
                  "
                >
                  Discount: AED {{ViewInvoiceObj.ApplyDiscount}}.00
                </div>
              
                <div
                  style="
                    text-align: right;
                    margin-top: 10px;
                    font-size: 14px;
                    font-weight: bold;
                  "
                >
                  Net Total: AED {{ViewInvoiceObj.NetAmount}}.00
                </div>
              
                <div
                  *ngIf="ViewInvoiceObj.ReceivedAmount"
                  style="
                    text-align: right;
                    margin-top: 10px;
                    font-size: 14px;
                    font-weight: bold;
                  "
                >
                  Paid: AED {{ViewInvoiceObj.ReceivedAmount}}.00
                </div>
              
                <!-- Notes -->
                <div *ngIf="ViewInvoiceObj.InvoiceDocumentLists?.length > 0" style="margin-top: 20px;">
                  <p style="font-weight: bold;">Notes:</p>
                  <p>REQUIRED DOCUMENTS:</p>
                  <table>
                    <tr *ngFor="let item of ViewInvoiceObj.InvoiceDocumentLists">
                      <td>{{item.DocumentName}}</td>
                    </tr>
                  </table>
                </div>
              
                <!-- Terms & Conditions -->
                <div *ngIf="ViewInvoiceObj.TermAndCondition" style="margin-top: 20px;">
                  <p style="font-weight: bold;">Terms & Conditions</p>
                  <p>{{ViewInvoiceObj.TermAndCondition}}</p>
                </div>
              </div>
              
              
      
              </div>
        
            </div>
        

      </div>
  
      <ng-template pTemplate="footer">
          <button pButton pRipple icon="pi pi-times" type="button" label="Cancel" class="p-button-danger"  (click)="viewInvoiceDialog = false"></button>
          <button pButton pRipple icon="pi pi-check" type="button"  label="Print"  (click)="printDiv();viewInvoiceDialog = false"></button>

      </ng-template>
  </p-dialog>
    
    
    
    





  <!-- this is for edit Due Amount -->


  <p-dialog [(visible)]="editInvoiceDialog" header=" Edit Invoice For Due Amount" [modal]="true" [style]="{width:'60%'}">
    <div class="justify-content-center mt-30" >

      <div id="printableDiv" >
      
          <div class="" style="margin: 50px;height: 900px;">
        
            <div style="position: relative; font-family: sans-serif; color: black;">
              <!-- Watermark -->
              <div
                style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0.1; z-index: -1;">
                <img
                  src="../../../assets/demo/images/gama.jpeg"
                  alt="Watermark"
                  style="max-width: 800px; max-height: 800px;"
                />
              </div>
            
              <!-- Header -->
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  text-align: center;
                  margin-bottom: 20px;
                "
              >
                <!-- <div class="row" style="display: flex; align-items: center;">
                  <div class="col-6" style="text-align: center;"> -->
                    <!-- <img
                      src="../../../assets/demo/images/gama.jpeg"
                      alt="Gama Typing Services Logo"
                      class="img-fluid"
                      style="max-width: 130px;"
                    /> -->
                    <!-- <img [src]="logoBase64" alt="Logo" class="brand-logo">
                  </div>
            
                  <div class="col-6" style="text-align: center;">
                    <div style="font-size: x-large; font-weight: bold;">
                      <div style="color: #ff271c; 
                      font-weight: 700; 
                      letter-spacing: 3px; 
                      text-transform: uppercase; 
                      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
                      line-height: 1.2;">GAMA</div>
                      <div style="color: #3755da;font-weight: 700; 
                      letter-spacing: 3px; 
                      text-transform: uppercase; 
                      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
                      line-height: 1.2;">TYPING</div>
                      <div style="color: #7d8580;font-weight: 700; 
                      letter-spacing: 3px; 
                      text-transform: uppercase; 
                      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
                      line-height: 1.2;">SERVICES</div>
                    </div>
                  </div>
                </div> -->
            
  <div class="brand-block">
              <!-- <img src="../../../assets/demo/images/gama.jpeg" alt="Gama Typing Services Logo" class="brand-logo"> -->
           <img [src]="logoBase64" alt="Logo" class="brand-logo"  style="width: 130px;">
              <!-- <div class="brand-copy">
                <div>GAMA</div>
                <div>TYPING</div>
                <div>SERVICES</div>
              </div> -->
<div class="col-6" style="text-align: center;">
                    <div style="font-size: x-large; font-weight: bold;">
                      <div style="color: #ff271c; 
                      font-weight: 700; 
                      letter-spacing: 3px; 
                      text-transform: uppercase; 
                      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
                      line-height: 1.2;">GAMA</div>
                      <div style="color: #3755da;font-weight: 700; 
                      letter-spacing: 3px; 
                      text-transform: uppercase; 
                      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
                      line-height: 1.2;">TYPING</div>
                      <div style="color: #7d8580;font-weight: 700; 
                      letter-spacing: 3px; 
                      text-transform: uppercase; 
                      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
                      line-height: 1.2;">SERVICES</div>
                    </div>
                  </div>

            </div>



                <div style="text-align: center; margin-top: 20px;">
                  <h1 style="font-size: 2em; margin: 0;">INVOICE</h1>
                  <p style="margin: 5px 0;"># {{ViewInvoiceObj.InvoiceNumber}}</p>
                  <p style="margin: 5px 0;">Date: {{ ViewInvoiceObj.CreatedOn | date: 'MMM d, y' }}</p>
                  <div style="background-color: rgb(213, 211, 211); padding: 10px; margin-top: 10px;">
                    <p style="color: black; margin: 0; font-weight: bold;">
                      Balance Due: AED {{ViewInvoiceObj.DueAmount}}.00
                    </p>
                  </div>
                </div>
              </div>
            
              <!-- Details -->
              <div style="margin-top: 20px;">
                <p style="font-weight: bold;">GAMA TYPING SERVICES LLC</p>
                <p>ABU DHABI MOHAMED BIN ZAYED ME-11<br />AL KHAWATIM STREET</p>
                <p style="font-weight: bold;">Print By: {{ViewInvoiceObj.PrintBy}}</p>
                <p style="font-weight: bold;">Bill To: {{ViewInvoiceObj.BillToName}}</p>
              </div>
            
              <!-- Table -->
              <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
                <thead>
                  <tr style="background-color: #000; color: white; text-align: left;">
                    <th style="padding: 8px; border: 1px solid #ddd;">Sr.</th>
                    <th style="padding: 8px; border: 1px solid #ddd;">Item</th>
                    <th style="padding: 8px; border: 1px solid #ddd;">Quantity</th>
                    <th style="padding: 8px; border: 1px solid #ddd;">Rate</th>
                    <th style="padding: 8px; border: 1px solid #ddd;">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of ViewInvoiceObj.InvoiceItemLists; let i = index">
                    <td style="padding: 8px; border: 1px solid #ddd;">{{i + 1}}</td>
                    <td style="padding: 8px; border: 1px solid #ddd;">
                      <b>{{item.ItemName}}</b>
                    </td>
                    <td style="padding: 8px; border: 1px solid #ddd;">{{item.Quantity}}</td>
                    <td style="padding: 8px; border: 1px solid #ddd;">AED {{item.Rate}}</td>
                    <td style="padding: 8px; border: 1px solid #ddd;">AED {{item.ItemTotalAmount}}.00</td>
                  </tr>
                </tbody>
              </table>
            
              <!-- Totals -->
              <div
                style="
                  text-align: right;
                  margin-top: 10px;
                  font-size: 14px;
                  font-weight: bold;
                "
              >
                Total: AED {{ViewInvoiceObj.TotalAmount}}.00
              </div>
            
              <div
                *ngIf="ViewInvoiceObj.ApplyDiscount"
                style="
                  text-align: right;
                  margin-top: 10px;
                  font-size: 14px;
                  font-weight: bold;
                "
              >
                Discount: AED {{ViewInvoiceObj.ApplyDiscount}}.00
              </div>
            
              <div
                style="
                  text-align: right;
                  margin-top: 10px;
                  font-size: 14px;
                  font-weight: bold;
                "
              >
                Net Total: AED {{ViewInvoiceObj.NetAmount}}.00
              </div>
            
              <div
                *ngIf="ViewInvoiceObj.ReceivedAmount"
                style="
                  text-align: right;
                  margin-top: 10px;
                  font-size: 14px;
                  font-weight: bold;
                "
              >
                Paid: AED {{ViewInvoiceObj.ReceivedAmount}}.00
              </div>
            
              <!-- Notes -->
              <div *ngIf="ViewInvoiceObj.InvoiceDocumentLists?.length > 0" style="margin-top: 20px;">
                <p style="font-weight: bold;">Notes:</p>
                <p>REQUIRED DOCUMENTS:</p>
                <table>
                  <tr *ngFor="let item of ViewInvoiceObj.InvoiceDocumentLists">
                    <td>{{item.DocumentName}}</td>
                  </tr>
                </table>
              </div>
            
              <!-- Terms & Conditions -->
              <div *ngIf="ViewInvoiceObj.TermAndCondition" style="margin-top: 20px;">
                <p style="font-weight: bold;">Terms & Conditions</p>
                <p>{{ViewInvoiceObj.TermAndCondition}}</p>
              </div>
            </div>
            
            
    
            </div>
      
          </div>
      

    </div>

    <ng-template pTemplate="footer" style="border: dotted;">


      <div class=" p-3" style="display: flex; align-items: center; justify-content: space-between; gap: 15px;background-color: #75a0cc; height: 80px;">
        <!-- Input Field on Left -->
        <span class="p-float-label" style="flex: 1; max-width: 215px;">
          <p-inputNumber 
            inputId="inputnumber" 
            [(ngModel)]="dueAmountPay"  
            name="dueAmountPay" 
            [min]="0" 
            [max]="dueAmount" 
            [maxlength]="maxLimit"
            (onInput)="checkDiscountLimit(dueAmountPay)" 
            (keypress)="checkDiscountLimit(dueAmountPay)" 
            (keyup)="checkDiscountLimit(dueAmountPay)" 
            (keydown)="checkDiscountLimit(dueAmountPay)" 
            placeholder="Received Amount">
          </p-inputNumber>
          <label for="inputnumber">Received Amount</label>
        </span>
      
        <!-- Buttons on the Right -->
        <div style="display: flex; align-items: center; gap: 10px;">
          <button 
            pButton 
            type="button" 
            label="Update" 
            (click)="receivedAmt()" 
            [disabled]="dueAmountPay == null" 
            class="p-button-raised p-button-rounded p-button-success">
          </button>
      
          <button 
            pButton 
            pRipple 
            icon="pi pi-times" 
            type="button" 
            label="Cancel" 
            class="p-button-danger" 
            (click)="editInvoiceDialog = false">
          </button>
      
          <button 
            pButton 
            pRipple 
            icon="pi pi-check" 
            type="button"  
            label="Print" 
            class="p-button-secondary"
            (click)="printDiv(); editInvoiceDialog = false">
          </button>
        </div>
      </div>
      
      
    </ng-template>
</p-dialog>




