<!-- <p-toast></p-toast> -->
<form [formGroup]="passwordForm" (ngSubmit)="ChangePassword()" class="pt-2">
    <div class="grid">
        <p-toast key="tst"></p-toast>
        <!-- <div class="col-12 md:col-12"> -->
        <div class="col-12 md:col-12 lg:col-12">
            <label for="password"><strong>Old Password</strong> </label><br>
            <span class="p-float-label p-input-icon-right">
                <input type="password" [style]="{'width': '400px'}" pInputText id="password"
                    formControlName="OldPassword"
                    [ngClass]="{'ng-invalid ng-dirty' : passwordFormControl.OldPassword.invalid && passwordFormControl.OldPassword.touched }" />
                <!-- <i class="pi pi-check text-green-700"  *ngIf="passwordFormControl.OldPassword.valid"></i> -->
                <!-- <i class="pi pi-times text-red-500" *ngIf="passwordFormControl.OldPassword.invalid && passwordFormControl.OldPassword.touched"></i> -->
            </span>
            <p *ngIf="isShow" style="color: red;">Old password does not match</p>
        </div>
        <div class="col-12 md:col-12 lg:col-12">
            <label for="password"> <strong>New Password </strong></label><br>
            <span class="p-float-label p-input-icon-right">
                <input type="password" pInputText id="newpassword" [style]="{'width': '400px'}" minlength="6"
                    formControlName="NewPassword"
                    [ngClass]="{'ng-invalid ng-dirty' : passwordFormControl.NewPassword.invalid && passwordFormControl.NewPassword.touched }" />
                <!-- <i class="pi pi-check text-green-700" *ngIf="passwordFormControl.NewPassword.valid"></i> -->
                <!-- <i class="pi pi-times text-red-500" *ngIf="passwordFormControl.NewPassword.invalid && passwordFormControl.NewPassword.touched"></i> -->
            </span>
        </div>
        <div class="col-12 md:col-12 lg:col-12">
            <label for="password"><strong>Confirm New Password </strong></label><br>
            <span class="p-float-label p-input-icon-right">
                <input type="password" pInputText id="confirmnewpassword" [style]="{'width': '400px'}" minlength="6"
                    formControlName="ConfirmNewPassword"
                    [ngClass]="{'ng-invalid ng-dirty' : passwordFormControl.ConfirmNewPassword.invalid && passwordFormControl.ConfirmNewPassword.touched }" />
                <!-- <i class="pi pi-check text-green-700" *ngIf="passwordFormControl.ConfirmNewPassword.valid"></i> -->
                <!-- <i class="pi pi-times text-red-500" *ngIf="passwordFormControl.ConfirmNewPassword.invalid && passwordFormControl.ConfirmNewPassword.touched"></i> -->
            </span><br>
            <small class="text-red-500"
                *ngIf="passwordFormControl.ConfirmNewPassword.touched && passwordFormControl.ConfirmNewPassword.value !== passwordFormControl.NewPassword.value">Confirm
                New Password did not match with New Password</small>
        </div>
        <!-- </div> -->
    </div>
    <strong>Password should contain</strong>
    <ul>
        <li>1 upper case character</li>
        <li>1 digit</li>
        <li>1 special character</li>
        <li>6 characters long</li>
    </ul>
    <div>
        <p-button type="submit" label="Submit" class="btn-right" [disabled]="!this.passwordForm.valid"
            icon="pi pi-check" styleClass="p-button-sm w100"></p-button>
    </div>
</form>