<div>
    <label><span *ngIf="required" class="text-danger">*</span><b>{{label}}</b></label>
    <div *ngIf="!isMaskInput">
        <!-- <div class="col-sm-12"> -->
            <input class="w100 p-inputtext-sm" [type]="type" pInputText [formControl]="control" [required]="required" [readonly]="readonly"
                [placeholder]="placeholder" (keyup)="onValueChange($event)" [disabled]="disabled">
                <app-error-messages *ngIf="validate" [control]="control" [label]="label"></app-error-messages>
        <!-- </div> -->

    </div>
    <div *ngIf="isMaskInput">
        <p-inputMask  class="w100 p-inputtext-sm" [formControl]="control" (onComplete)="_onComplete()" (change)="onValueChange($event)"[required]="required" [readonly]="readonly" mask='{{maskingFormate}}'
            placeholder='{{maskingFormate}}'></p-inputMask>
            <app-error-messages *ngIf="validate" [control]="control" [label]="label"></app-error-messages>
    </div>
</div>
