.pull-right {
    float: right;
}
.box {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    display: inline-block;
}

.medTypeBadge {
    width: 30px;
    height:  30px;
    border-radius: 15px;
}
.seprator {
    border: 1px solid #999 !important;
}