<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="../../assets/demo/images/gama.jpeg"alt="logo">
        <div class="logo" style="font-size: large;  font-weight: bold;  color: #279055;">
            <div style="color: #ff271c; ">GAMA</div>
            <div style="color: #3755da;">TYPING</div>
            <div style="color: #7d8580; ">SERVICES</div>
          
        </div>
        
        <!-- <span>SAKAI</span> -->
    </a>

   

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <!-- <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button> -->

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button> -->

        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <p>{{user.username}}</p>
        </button> -->

        <!-- <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button> -->
    </div>

    <div class="user-info">
        <!-- <p><i class="pi pi-user"></i><b> &nbsp;{{user.username}} &nbsp;&nbsp;&nbsp;</b></p> -->
        <p><i class="pi pi-user"></i><b> &nbsp;{{user?.FullName}} &nbsp;&nbsp;&nbsp;</b></p>
    </div>

    <div class="user-info">
        
        <p class="sidebar-footer" (click)="SignOut()"><b> <i class="pi pi-fw pi-power-off"></i> SignOut</b></p>
      </div>

    <!-- <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
        <i class="pi pi-cog"></i>
        <span>Settings</span>
    </button> -->
</div>
