<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <div class="nextshot-layout-logo-mark">8</div>
        <div class="nextshot-layout-logo">
            <div>NEXT <span>SHOT</span></div>
            <small>Snooker & Billiards</small>
        </div>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
    </div>

    <div class="user-info">
        <p><i class="pi pi-user"></i><b> &nbsp;{{user?.FullName}} &nbsp;&nbsp;&nbsp;</b></p>
    </div>

    <div class="user-info">
        <p class="sidebar-footer" (click)="SignOut()"><b><i class="pi pi-fw pi-power-off"></i> Sign Out</b></p>
    </div>
</div>
