.user-badge {

    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
    
    &.status-active {
        background: #C8E6C9;
        color: #256029;

    
    }

    &.status-not-active {
        background: #FFCDD2;
        color: #C63737;
    }
}
